<div class='font-bar'>
	<h2>Click on the font to download the fontface kit</h2>

	<div class="font-container">
		<% _.each(fonts, function(font){ %>
			<div class="fontBox"> 
				<% console.log(font) %>
				<a href="http://www.fontsquirrel.com/fontfacekit/<%= font.get('family_urlname') %>" class="typeface" style="font-family: 'AlexBrushRegular';">Aa</a>
				<%= font.get('family_name') %>
			</div>
		<% }); %>
	
		<i class='icon-refresh btn new'></i>
	
		<h2>Do these fonts work well with eachother?</h2>
		<div class="btn-container">
			<i class='icon-ok-circle btn yes'></i>
			<a href="" class="btn no">X</a>
		</div>

		<i class='icon-circle-arrow-down viewMore'></i>

		</div>
</div>

<div class="content-container">
	<% console.log(fonts[0].get('family_name')); %>
	<h3 style="font-family: 'AlexBrushRegular';">Title for a page</h3>
	<div  style="font-family: 'GoodDogRegular';">
		<p>Donec gravida posuere arcu. Nulla facilisi. Phasellus imperdiet. Vestibulum at metus. Integer euismod. Nullam placerat rhoncus sapien. Ut euismod. Praesent libero. Morbi pellentesque libero sit amet ante. Maecenas tellus. Maecenas erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		<h4>Hey Look, a Subtitle</h4>
		<p>Aliquam lectus orci, adipiscing et, sodales ac, feugiat non, lacus. Ut dictum velit nec est. Quisque posuere, purus sit amet malesuada blandit, sapien sapien auctor arcu, sed pulvinar felis mi sollicitudin tortor. Maecenas volutpat, nisl et dignissim pharetra, urna lectus ultrices est, vel pretium pede turpis id velit. Aliquam sagittis magna in felis egestas rutrum. Proin wisi libero, vestibulum eget, pulvinar nec, suscipit ut, mi. </p>
		<p>Integer in arcu ultricies leo dapibus ultricies. Sed rhoncus lobortis dolor. Suspendisse dolor. Mauris sapien velit, pulvinar non, rutrum non, consectetuer eget, metus. Morbi tincidunt lorem at urna. Etiam porta. Ut mauris. Phasellus tristique rhoncus magna. Nam tincidunt consequat urna. Sed tempor.</p>
	</div>

</div>
